body{
    height:100vh;
    display: flex;
    justify-content: center;
    align-items: center;}
    
table{
    border-spacing: 0px;
    min-height: 400px;
    min-width: 400px;
    display: flex;}

div{
    min-height: 1px;
    min-width: 1px;}

td{
    border:solid black 0.5px;
    padding:0;}

tbody{
    flex-direction: column;}

#container{
    flex:none;}

tr,tbody,td,div{display:flex;
flex:1;}