body{
    height:100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;}

table{
    border-spacing: 0px;
    min-height: 400px;
    min-width: 500px;
    display: flex;}

div{
    min-height: 1px;
    min-width: 1px;}

td{
    border:solid #746565 0.5px;
    padding:0;}

tbody{
    flex-direction: column;
    background-color: white;}

#container{
    flex:none;
    width: 700px;
    height: 600px;
    justify-content: center;
    align-items: center;
    background: red;
    border-radius: 5%;}

tr,tbody,td,div{display:flex;
flex:1;}

#bottom-buttons{
    flex:none;
    margin-top: -95px;}
button{
    border-radius: 50%;
    width: 90px;
    height: 90px;
    margin-left: 90px;
    margin-right: 90px;
}
#middle{
    border-radius: 0;
    margin-top: 40px;
    height: 25px;
}